*.Rproj.user
*.Rproj
*.Rhistory
.RData
*.Ruserdata
schema.ini
.Rproj.user
Background_Info/~$Tsizeclass.doc
Data/Prey_Data
VAST_runs/tuna8/tuna_8.RData
Data/DisaggregatedSWNSdata.RData
Data/2020GULF.RData
Data/comland95_03_detail.RData
Data/Historical GSL data 2020 ver.Rdata
Data/SWNS_trip_unrestricted_2002_2018.Rdata
Data/Clean
Data/LPS
