*.Rproj.user
*.Rproj
*.Rhistory
.RData
*.Ruserdata
schema.ini
.Rproj.user
Data/Prey_Data
Data/Clean
Data/LPS
Data/Canada_Clean
Data/AtlanticData_raw_2023.RData
Data/DisaggregatedSWNSdata.RData
Data/2020GULF.RData
Data/comland95_03_detail.RData
Data/Historical GSL data 2020 ver.Rdata
Data/SWNS_trip_unrestricted_2002_2018.Rdata
Data/2020GULF.RData
Data/DisaggregatedSNWSdata.Rdata
Data/Historical GSL data 2020 ver.Rdata
Data/Historical_Clean_2023.csv
Data/SWNS_Clean_2002_2022.csv
Data/SWNS_trip_unrestricted_2002_2018.Rdata
Data/comland95_03_detail.RData
VAST_runs/*